.LoginForm {
  margin: 0 auto;
  width: 80vw;
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  &__error--message{
    margin: 18px auto;
    text-align: center;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    color:red;
  }
}